.orders {
  height: calc(100vh - 50.7rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  .orders-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
    width: 100%;
    max-width: 600px;
  }

  .orders-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
