.booking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;

  .booking-items {
    display: inline-block;
    justify-content: center;
    height: 100vh;

    .booking-heading {
      text-align: center;
      border-bottom: 2px solid black;
      margin: 20px;
    }
  }
}
