.calendar-container {
  width: 300px;
  position: absolute;
  padding: 32px;
  background-color: white;
  border-radius: 10%;

  .btn {
    width: 50%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50px;
    background: linear-gradient(
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59
    );
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 3rem;

    &:hover {
      background-color: orange;
      font-size: large;
    }
  }
}

.calendar-close {
  appearance: none;
  position: relative;
  border: 0;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #f16464;
  left: 13rem;
  cursor: pointer;
}
