.card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20rem;
  margin-top: -2rem;
<<<<<<< HEAD

  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
=======
  

  .card-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;   
>>>>>>> b83f7a809356af380a6cc272160014ae38b31f8f
  }
}

@media (max-width: 480px) {
  /* target smaller screen sizes */
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* change to one column */
  }
}
