.navigation {
  height: 100px;
  width: 100%;
  position: sticky;
  z-index: 999;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;

    .nav-item {
      list-style: none;
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;

      & {
        color: #e04932;
      }

      &:hover {
        color: orange;
      }
    }
  }

  .logo {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .btn-container {
    position: relative;
  }
  .btn {
    background: linear-gradient(
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59
    );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 0.5rem;
    position: relative;
    box-shadow: var(--shadow-2);
    width: 100%;
    color: white;
    border: none;
    height: 50px;
    border-radius: var(--borderRadius);
  }

  .dropdown {
    position: absolute;
    top: px;
    left: 0;
    width: 100%;
    background: linear-gradient(
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59
    );
    box-shadow: var(--shadow-2);
    padding: 0.5rem;
    text-align: center;
    visibility: hidden;
    border-radius: var(--borderRadius);
  }
  .show-dropdown {
    visibility: visible;
  }
  .dropdown-btn {
    background: transparent;
    border-color: transparent;
    color: #fff;
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
    cursor: pointer;
  }
}
