.navigation {
  height: 100px;
  width: 100%;
  position: sticky;
  z-index: 999;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;

    .nav-item {
      list-style: none;
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;

      & {
        color: black;
      }

      &:hover {
        color: #f5b70a;
      }
    }
  }

  .logo {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .user {
    display: block;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    span {
      display: block;
    }
  }
}
